<%= form_for(@social_network) do |f| %>
<% if @social_network.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@social_network.errors.count, "error") %>
        prohibited this social_network from being saved:</h2>

    <ul>
        <% @social_network.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="col-md-12">
    <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
    </div>
</div>


<div class="actions">
    <%= f.submit %>
</div>
<% end %>
