<%= form_for(@education, remote: true) do |f| %>

<% if @education.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@education.errors.count, "error") %>
        prohibited this education from being saved:</h2>

    <ul>
        <% @education.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="col-md-6">
    <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <%= f.label :college %><br>
        <%= f.text_field :college, class: "form-control" %>
    </div>
</div>

<script>
    $(function () {
        var dateFormat = "yy-mm-dd",
            from = $("#start").datepicker({defaultDate: "+1w", changeMonth: true, changeYear: true, numberOfMonths: 1, dateFormat}).on("change", function () {
                to.datepicker("option", "minDate", getDate(this));
            }),
            to = $("#end").datepicker({defaultDate: "+1w", changeMonth: true, changeYear: true, numberOfMonths: 1, dateFormat}).on("change", function () {
                from.datepicker("option", "maxDate", getDate(this));
            });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }
    });
</script>

<div class="col-md-6">
    <div class="form-group">
        <%= f.label :start_date %><br>
        <%= f.text_field :start_date, class: "form-control", id: "start" %>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <%= f.label :end_date %><br>
        <%= f.text_field :end_date, class: "form-control", id: "end" %>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <%= f.label :upload_document %><br>
        <%= f.file_field :document_path, class: "form-control"%>
    </div>
</div>

<div class="actions">
    <%= f.submit %>
</div>
<% end %>
